<?xml version="1.0"?>
<launch>
  <node pkg="robot_calibration" type="calibrate" name="robot_calibration" args="$(find robot_calibration_tests)/config/calibration_poses_50.bag" output="screen" launch-prefix="">
    <param name="velocity_factor" value="1" />
    <param name="settle_wait_time" value="2" />
    <param name="xacro_save_path" value="$(find argo_tracker_description)/calibrations/arm_calibration.urdf.xacro"/>
    <rosparam file="$(find robot_calibration_tests)/config/capture.yaml" command="load" />
    <rosparam file="$(find robot_calibration_tests)/config/calibrate.yaml" command="load" />
    
    <remap from="~/features/chilitag_finder/image" to="/arm_rgbd_cam/rgb/image_rect_color"/>
    <remap from="/head_camera/rgb/camera_info" to="/arm_rgbd_cam/rgb/camera_info" />
  </node>
</launch>
