<?xml version="1.0"?>
<launch>
  <node pkg="robot_calibration" type="calibrate" name="robot_calibration" args="--manual" output="screen" launch-prefix="">
    <param name="velocity_factor" value="1" />
    <rosparam file="$(find robot_calibration_tests)/config/capture.yaml" command="load" />
    <rosparam file="$(find robot_calibration_tests)/config/calibrate.yaml" command="load" />

    <remap from="~/features/chilitag_finder/image" to="/arm_rgbd_cam/rgb/image_raw"/>
    <remap from="/head_camera/rgb/camera_info" to="/arm_rgbd_cam/rgb/camera_info" />
  </node>
</launch>
