<?xml version="1.0"?>
<launch>
  <node pkg="robot_calibration_tests" type="checkerboard_finder_2d_node" name="checkerboard_finder2d" output="screen" args="">
    <param name="camera_topic" value="/gripper_cam/image_raw"/>
    <param name="size" value="0.03"/>
    <param name="debug" value="false"/>

    <param name="camera_sensor_name" value="camera"/>
    <param name="chain_sensor_name" value="arm"/>

    <remap from="/head_camera/rgb/camera_info" to="/gripper_cam/camera_info" />
    <remap from="~/image" to="/gripper_cam/image_raw"/>
  </node>
</launch>
