<?xml version="1.0"?>

<launch>
  <arg name="world" default="worlds/empty.world" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find robot_calibration_tests)/urdf/head_with_checkerboard.urdf.xacro'" />
  
  <include file="$(find thor_mang_gazebo)/launch/gazebo_start.launch">
    <arg name="paused" value="false"/>
    <arg name="verbose" value="true"/>
    <arg name="world_name" value="$(arg world)"/>
  </include>
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
          -urdf
          -model robot_description"
    respawn="false" output="screen" />

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/thor_mang/joint_states" />
  </node>
 
  <node name="relay_head_image" pkg="topic_tools" type="relay" args="/head_cam/image_raw /camera/image_raw" />
  <node name="relay_head_camera_info" pkg="topic_tools" type="relay" args="/head_cam/camera_info /camera/camera_info" />  
  
  <include file="$(find hector_multisensor_head_driver)/launch/load_simulated_controller.launch"/>

</launch> 
